argparse>=1.4.0
beautifulsoup4>=4.8.1
colorama>=0.4.3
DateTime>=4.3
decorator>=4.4.2
flake8>=3.7.9
google>=2.0.3
gTTS==2.1.1
newsapi-python>=0.2.6
phonenumbers==8.10.2
playsound>=1.2.2
prompt_toolkit==1.0.14
psutil>=5.7.0
pycodestyle>=2.6.0
pycparser>=2.20
pyee>=7.0.2
pyfiglet>=0.8.post1
pyflakes>=2.2.0
Pygments>=2.6.1
pyppeteer>=0.2.2
python-dotenv>=0.12.0
python-telegram-bot>=12.7
requests>=2.22.0
transitions>=0.7.2
urllib3>=1.25.8
websockets>=8.1
whaaaaat>=0.5.2
